* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    width: 1200px;
    margin: auto;
}

.form__body {
    display: flex;
}

.form__body>div {
    width: 50%;
    /* border: 1px solid black; */
}

.form__item {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 20px 0;

}

.form__item input {
    width: 300px;
}

.form__item span {
    color: red;

}

#form__address textarea {
    width: 300px;
    height: 150px;
    resize: none;
}

.form__item select {
    width: 300px;

}

#form__houmePhone input {
    width: 150px;
    margin-right: 150px;
}

#form__faxNumber input {
    width: 150px;
    margin-right: 150px;
}

.form__blockWebsite input {
    display: flex;
    flex-direction: column;

}

.form__blockWebsite {
    position: relative;
}

.blockWebsite__link {
    position: absolute;
    left: -100px;
    z-index: 1;

}

.blockWebsite__url {
    position: absolute;
    left: -100px;
    bottom: 20px;
    z-index: 1;
}

#form__url {
    width: 200px;
    margin: 0 0 5px 0;
}

#form__link {
    width: 200px;
}

.form__bodyRight .form__item {
    padding: 0 60px;
}

.form__bodyRight #form__address textarea {
    width: 200px;
    height: 120px;
}



.form__item input[type="radio"] {
    width: 45px;
}

.form__radio {
    width: 220px;
}

.form__header {
    background-color: rgb(168 216 171);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    height: 50px;
}

.form__headerH3 {
    margin-right: 155px;
}

.menu select {
    border: none;
    background-color: rgb(168 216 171);
    width: 105px;
}

.form__footer {
    height: 50px;
    background-color: rgb(155, 160, 155);
    text-align: center;
    line-height: 50px;
}

.form__footer input {
    border: none;
    background-color: rgb(168 216 171);
    padding: 5px 20px;
    color: white;
    cursor: pointer;
}


@media screen and (max-width: 460px) {

    .container {
        width: 100%;
    }

    .form__body {
        flex-direction: column;
    }

    .form__body>div {
        width: 100%;
    }

    .form__item input {
        width: 250px;
    }

    #form__address textarea {
        width: 250px;
        height: 150px;
    }

    #form__houmePhone input {
        width: 125px;
        margin-right: 125px;
    }

    #form__faxNumber input {
        width: 125px;
        margin-right: 125px;
    }

    .form__item select {
        width: 250px;
    }

    .form__bodyRight .form__item {
        padding: 0 20px;
    }

    .w414 {
        flex-direction: column;
    }

    .form__bodyRight #form__address textarea {
        width: 100%;
        margin-top: 20px;

    }

    body {
        overflow-x: hidden;
    }

    .form__itemTitle__Web {
        padding: 10px 0;
    }


}